header {
    background-color: black;
    font-family: "Arial", serif;
}

h1 {
    color: red;
    text-align: center;
    font-size: medium;
}

h2 {
    color: white;
    text-align: center;
    font-size: medium;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}